* {
	margin:0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: black;
	background-size:cover;
	color: whitesmoke;
	font-size: 16px;
}

.wrap {
	width: 90%;
	max-width: 1000px;
	margin:auto;
}

.widget {
	width: 40%;
	margin: 25px;
	
}

.widget p {
	display: inline-block;
	line-height: 40px;
}

.fecha {
	font-family: Oswald, Arial;
    text-align: center;
	font-size:25px;
	margin-bottom: 5px;
    background: rgba(0,0,0,.5);
	padding: 20px;
	width: 100%;
}

.reloj {
	font-family: Oswald, Arial;
	width: 100%;
	padding: 20px;
	font-size: 64px;
	text-align: center;
	background: rgba(0,0,0,.5);
}

 

.reloj .caja-segundos {
	display: inline-block;
}

.reloj .segundos,
.reloj .ampm {
	font-size: 40px;
	display: block;
}

 